
</body>
<footer>
 <a href="https://github.com/Olabusiyi"> <i class="fa-brands fab fa-lg fa-github footer-icons"></i></a>
 <a href="https://www.linkedin.com/in/saheed-ola-oladunjoye-67754b158/"><i class="fa-brands fab fa-lg  fa-linkedin footer-icons"></i></a>
  <p>Developed with HTML, EJS Templates, CSS, Bootstrap, Javascript, NodeJs and Express by Olabusiyi</p>
  <p>© Copyright US Real Estate - API source </p>
</footer>
</html>